.top-bar {
    position: fixed;

    display: flex;
    flex-direction: row;
    margin: 24px;
}

.top-bar > .top-bar-container {
    display: flex;

    flex-direction: row;
}

.top-bar-container > .top-bar-item {
    flex-basis: 2;
    margin-left: 20px;
    
}